<!-- Define your frontend here. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team 3 - CH - Corda - IT Budgeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
    <script src="js/main.js"></script>
    <script src="js/createIOUModal.js"></script>
    <script src="js/issueCashModal.js"></script>
    <script src="js/transferModal.js"></script>
    <script src="js/settleModal.js"></script>
</head>

<body ng-app="demoAppModule" ng-controller="DemoAppCtrl as demoApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>

        <button ng-if="demoApp.isSponsor(demoApp.thisNode)" ng-click="demoApp.openCreateIOUModal()" type="button" class="btn btn-primary navbar-btn">Agree Budget for Work Package</button>
        <button ng-if="demoApp.isSponsor(demoApp.thisNode)"  ng-click="demoApp.openIssueCashModal()" type="button" class="btn btn-primary navbar-btn">Get Money</button>
        <button ng-if="demoApp.isProvider(demoApp.thisNode)" ng-click="demoApp.openCreateWorkModal()" type="button" class="btn btn-primary navbar-btn">Suggest Work Package to Sponsor </button>
        <button ng-if="demoApp.isProvider(demoApp.thisNode)" ng-click="demoApp.openCreateWorkModal()" type="button" class="btn btn-primary navbar-btn">Request people from Vendor </button>
        <button ng-if="demoApp.isProvider(demoApp.thisNode)" ng-click="demoApp.openCreateWorkModal()" type="button" class="btn btn-primary navbar-btn">Request IT Asset from Group CTO </button>
        <button ng-if="demoApp.isProvider(demoApp.thisNode)" ng-click="demoApp.openCreateWorkModal()" type="button" class="btn btn-primary navbar-btn">Request people from HR </button>
        <button ng-if="demoApp.isCTO(demoApp.thisNode)" ng-click="demoApp.openCreatePIModal()" type="button" class="btn btn-primary navbar-btn">Create invoice for Services</button>
        <button ng-if="demoApp.isProvider(demoApp.thisNode)" ng-click="demoApp.openCreateIOUModal()" type="button" class="btn btn-primary navbar-btn">Pay invoices</button>
    </div>
</nav>



<script type="text/ng-template" id="createCVPModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Request Asset from Group CTO</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="createCVPCounterparty" class="control-label">Counter-party:</label>
                <select ng-change="createCVPModal.populateForm()" ng-model="createCVPModal.form.counterparty" class="form-control" id="createCVPCounterparty"
                        ng-options="peer as peer for peer in createCVPModal.providers">
                </select>
            </div>
            <div class="form-group" ng-if="!!createCVPModal.form.assetCount">
                <label class="control-label">Asset Count</label>
                {{createCVPModal.form.assetCount}}
                <input style="display:none" type="text" ng-model="createCVPModal.form.assetCount" class="form-control" >
            </div>
            <div class="form-group" ng-if="!!createCVPModal.form.assetType">
                <label class="control-label">Asset Type</label>
                {{createCVPModal.form.assetType}}
                <input style="display:none"  type="text" ng-model="createCVPModal.form.assetType" class="form-control" >
            </div>
            <div class="form-group" ng-if="!!createCVPModal.form.totalAssetAmount">
                <label for="createCVPAmount" class="control-label">Forcasted Cost:</label>
                {{createCVPModal.form.totalAssetAmount}}
                <input style="display:none"  type="text" ng-model="createCVPModal.form.totalAssetAmount" class="form-control" id="createCVPAmount">
            </div>
            <div ng-show="createCVPModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Budget offer parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createCVPModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createCVPModal.create()" type="button" class="btn btn-primary">Request capacity</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="createPIModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Pay invoices</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="createPICounterparty" class="control-label">Counter-party:</label>
                <select ng-change="createPIModal.populateForm()" ng-model="createPIModal.form.counterparty" class="form-control" id="createPICounterparty"
                        ng-options="peer as peer for peer in createPIModal.providers">
                </select>
            </div>
            <input style="display:none"  type="text" ng-model="createIOUModal.form.featureTitle" class="form-control">
            <div class="form-group" ng-if="!!createPIModal.workList.length > 0">
                <label for="createBgtFeatureTitle" class="control-label">Cost title</label>
                <select ng-change="createPIModal.getWorkData()" ng-model="createPIModal.form.selectedWork" class="form-control" id="createBgtFeatureTitle"
                        ng-options="work as work for work in createPIModal.workList">
                </select>
            </div>
            <div class="form-group" ng-if="!!createPIModal.form.description">
                <label for="createBgtDescription" class="control-label">Cost details</label>
                {{createPIModal.form.description}}
                <input style="display:none"  type="text" ng-model="createPIModal.form.description" class="form-control" id="createBgtDescription">
            </div>
            <div class="form-group" ng-if="!!createPIModal.form.amount">
                <label for="createPIAmount" class="control-label">Invoice amount:</label>
                {{createPIModal.form.amount}}
                <input style="display:none"  type="text" ng-model="createIOUModal.form.workid" class="form-control">
                <input style="display:none"  type="text" ng-model="createPIModal.form.amount" class="form-control" id="createPIAmount">
            </div>
            <div ng-show="createPIModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Budget offer parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createPIModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createPIModal.create()" type="button" class="btn btn-primary">Pay invoice</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="createIOUModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Service Agreement</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="createIOUCounterparty" class="control-label">Party:</label>
                <select ng-change="createIOUModal.populateForm()" ng-model="createIOUModal.form.counterparty" class="form-control" id="createIOUCounterparty"
                        ng-options="peer as peer for peer in createIOUModal.providers">
                </select>
            </div>
            <div class="form-group" ng-if="!!createIOUModal.workList.length > 0">
                <label for="createBgtFeatureTitle" class="control-label">Feature Title</label>
                <select ng-change="createIOUModal.getWorkData()" ng-model="createIOUModal.form.selectedWork" class="form-control"
                        ng-options="work as work for work in createIOUModal.workList">
                </select>
            </div>
            <input style="display:none"  type="text" ng-model="createIOUModal.form.featureTitle" class="form-control">
            <input style="display:none"  type="text" ng-model="createIOUModal.form.workid" class="form-control">
            <div class="form-group" ng-if="!!createIOUModal.form.description">
                <label for="createBgtDescription" class="control-label">Feature Description</label>
                {{createIOUModal.form.description}}
                <input style="display:none"  type="text" ng-model="createIOUModal.form.description" class="form-control">
            </div>
            <div class="form-group" ng-if="!!createIOUModal.form.amount">
                <label for="createIOUAmount" class="control-label">Budget:</label>
                {{createIOUModal.form.amount}}
                <input style="display:none"  type="text" ng-model="createIOUModal.form.amount" class="form-control" id="createIOUAmount">
            </div>
            <div ng-show="createIOUModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Budget offer parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createIOUModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createIOUModal.create()" type="button" class="btn btn-primary">Agreement</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="createINVModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Send invoice to provider</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="createINVCounterparty" class="control-label">Counter-party:</label>
                <select ng-model="createINVModal.form.counterparty" class="form-control" id="createINVCounterparty"
                        ng-options="peer as peer for peer in createINVModal.sposnsors">
                </select>
            </div>
            <div class="form-group">
                <label for="createINVFeatureTitle" class="control-label">Feature Title</label>
                <input type="text" ng-model="createINVModal.form.featureTitle" class="form-control" id="createINVFeatureTitle">
            </div>
            <div class="form-group">
                <label for="createINVDescription" class="control-label">Feature Description</label>
                <input type="text" ng-model="createINVModal.form.description" class="form-control" id="createINVDescription">
            </div>
            <div class="form-group">
                <label for="createINVAmount" class="control-label">Budget:</label>
                <input type="text" ng-model="createINVModal.form.amount" class="form-control" id="createINVAmount">
            </div>
            <div ng-show="createINVModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Budget offer parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createINVModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createINVModal.create()" type="button" class="btn btn-primary">Send invoice</button>
        </div>
    </form>
</script>



<script type="text/ng-template" id="createWorkModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Create Work Package</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="createWorkCounterparty" class="control-label">Party:</label>

                <select ng-model="createWorkModal.form.counterparty" class="form-control" id="createWorkCounterparty"
                        ng-options="peer as peer for peer in createWorkModal.peers">
                </select>

            </div>
            <div class="form-group">
                <label for="createWorkFeatureTitle" class="control-label">Feature Title</label>
                <input type="text" ng-model="createWorkModal.form.featureTitle" class="form-control" id="createWorkFeatureTitle">
            </div>
            <div class="form-group">
                <label for="createWorkDescription" class="control-label">Feature Description</label>
                <input type="text" ng-model="createWorkModal.form.description" class="form-control" id="createWorkDescription">
            </div>
            <div class="form-group">
                <label for="createWorkAmount" class="control-label">Budget:</label>
                <input type="text" ng-model="createWorkModal.form.amount" class="form-control" id="createWorkAmount">
            </div>
            <div ng-show="createWorkModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Budget offer parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="createWorkModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="createWorkModal.create()" type="button" class="btn btn-primary">Create Work Package</button>
        </div>
    </form>
</script>



<script type="text/ng-template" id="createIOUMsgModal.html">
    <div class="modal-body" id="create-iou-modal-body">
        {{ createIOUMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="issueCashModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Self-issue cash</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="issueCashCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="issueCashModal.form.currency" class="form-control" id="issueCashCurrency">
            </div>
            <div class="form-group">
                <label for="issueCashAmount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="issueCashModal.form.amount" class="form-control" id="issueCashAmount">
            </div>
            <div ng-show="issueCashModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid cash issuance parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="issueCashModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="issueCashModal.issue()" type="button" class="btn btn-primary">Issue cash</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="issueCashMsgModal.html">
    <div class="modal-body" id="issue-cash-modal-body">
        {{ issueCashMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="transferModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Transfer IOU</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="transferCounterparty" class="control-label">Counter-party:</label>
                <select ng-model="transferModal.form.counterparty" class="form-control" id="transferCounterparty"
                        ng-options="peer as peer for peer in transferModal.peers">
                </select>
            </div>
            <div ng-show="transferModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid IOU transfer parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="transferModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="transferModal.transfer()" type="button" class="btn btn-primary">Transfer</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="transferMsgModal.html">
    <div class="modal-body" id="transfer-modal-body">
        {{ transferMsgModal.message }}
    </div>
</script>

<script type="text/ng-template" id="settleModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Settle IOU</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="settleCurrency" class="control-label">Currency (ISO code):</label>
                <input type="text" ng-model="settleModal.form.currency" class="form-control" id="settleCurrency">
            </div>
            <div class="form-group">
                <label for="settleAmount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="settleModal.form.amount" class="form-control" id="settleAmount">
            </div>
            <div ng-show="settleModal.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid IOU settle parameters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="settleModal.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="settleModal.settle()" type="button" class="btn btn-primary">Settle</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="settleMsgModal.html">
    <div class="modal-body" id="settle-modal-body">
        {{ settleMsgModal.message }}
    </div>
</script>

<div class="row" ng-if="demoApp.isSponsor(demoApp.thisNode)" ng-if="!demoApp.isProvider(demoApp.thisNode)" >
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h3 class="panel-title">Remaining budget:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cash in demoApp.cashBalances">
                        <td class="vert-align">{{cash}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h3 class="panel-title">Cash balances:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cash in demoApp.cashBalances">
                        <td class="vert-align">{{cash}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.ious.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no Pending Budget offers</h3>
            </div>
            <div class="panel-body">No transactions yet</div>
        </div>
        <div ng-show="demoApp.ious.length" class="panel panel-primary">
            <div   ng-if="demoApp.isSponsor(demoApp.thisNode)" ng-if="!demoApp.isProvider(demoApp.thisNode)"  class="panel-heading">
                <h3 class="panel-title">Pending - Non paid budget for accepted features</h3>
            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>To</th>
                        <th>From</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="iou in demoApp.ious">
                        <td class="vert-align">{{iou.lender}}</td>
                        <td class="vert-align">{{iou.borrower}}</td>
                        <td class="vert-align">{{iou.amount}}</td>
                        <td class="vert-align">{{iou.paid}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button ng-click="demoApp.openTransferModal(iou.linearId.id)" type="button" class="btn btn-primary">Transfer
                                </button>
                                <button ng-click="demoApp.openSettleModal(iou.linearId.id)" type="button" class="btn btn-primary">Settle
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row" ng-if="demoApp.isSponsor(demoApp.thisNode) && demoApp.cashBalances.CHF.length > 0">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Budget overview:</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="vert-align">
                            <highchart id="pie-chart" config="pieConfig" class="span10" disable-change-detection="false"></highchart>
                        </td>
                        <td class="vert-align">
                            <highchart id="graph-chart" config="graphConfig" class="span10" disable-change-detection="false"></highchart>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


</body>
</html>